* {
    margin: 0;
    padding: 0;
}

body {
    background: #249aff;
}

.wrapper {
    width: 70%;
    height: 500px;
    margin: 50px auto;
    position: relative;
}

.title {
    color: #ffffff;
    font-size: 20px;
    font-weight: bolder;
    margin: 50px;
}

.circle {
    position: absolute;
    width: 20%;
    padding-top: 20%;
    border-radius: 50%;
    left: 30%;
    top: 30%;
}

.sun {
    background-color: #ffff77;
    box-shadow: 0 0 50px #ffff77;
}

.moon {
    left: 52%;
    cursor: pointer;
    box-shadow: inset 5px 5px 50px rgba(255, 255, 119, 0.3);
}

.per {
    position: absolute;
    bottom: 20%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}