<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo</title>
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script></script>
</head>
<body>
<ul id="goods">
    <li>
        <img src="../../images/image1.jpg" alt="first">
        <div class="title">第一张照片</div>
        <div class="autor">weiqiujuan</div>
    </li>3
    <li>
        <img src="../../images/image2.jpg" alt="second">
        <div class="title">第二张照片</div>
        <div class="autor">liuxiaotian</div>
    </li>
    <li>
        <img src="../../images/images3.jpg" alt="third">
        <div class="title">第三张图</div>
        <div class="autor">wangxiaohan</div>
    </li>
</ul>
</body>
</html>