* {
    margin: 0;
    padding: 0;
}

.btn {
    margin: 20px;
    display: block;
    width: 200px;
    text-align: center;
}

/*插件css　start*/
* {
    margin: 0;
    padding: 0;
    font: 14px/1.8em "microsoft yahei";
    -moz-user-select: -moz-none;
    user-select: none;
    -webkit-user-select: none;
}

.dialogBox {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.dialogTitle {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #d9d9d9;
    font-size: 16px;
}

.dialogcloseBtn {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 12px;
    text-decoration: none;
    color: #666;
    line-height: 24px;
    height: 24px;
    width: 24px;
    text-align: center;
}

.dialogContentText {
    padding: 30px 0;
    text-align: center;
}

.dialogButtons {
    display: flex;
    justify-content: center;
}

.dialogButtons a {
    height: 40 p;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
}

a.danger {
    background: #dd514c;
}

a.danger:hover {
    background: #cc4843;
}

a.warning {
    background: #e0690c;
}

a.warning:hover {
    background: #D06511;
}

a.success {
    background: #5eb95e;
}

a.success:hover {
    background: #4aaa4a;
}

a.primary {
    background: #0a628f;
}

a.primary:hover {
    background: #0e90d2;
}

a.default {
    background: #e6e6e6;
}

a.default:hover {
    background: #c7c7c7;
}

.dialogMask {
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.25s ease 0.2s;
    opacity: 0;
    visibility: hidden;
}

.dialogContent {
    padding: 10px 0;
}

.sacleIn {
    animation: sacleIn 0.5s ease-in-out both;
}

.sacleOut {
    animation: sacleOut 0.5 ease-in-out both;
}

.visible {
    opacity: 1;
    visibility: visible; /*元素是否显示*/
}

.bounceInDown {
    -webkit-animation: bounceInDown 0.8s ease both;
    -moz-animation: bounceInDown 0.8s ease both;
}

@-webkit-keyframes bounceInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-200%);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateY(50px);
    }
    80% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes bounceInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-200%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateY(50px)
    }
    80% {
        -moz-transform: translateY(-10px)
    }
    100% {
        -moz-transform: translateY(0)
    }
}

.bounceOutDown {
    -webkit-animation: bounceOutDown 0.8s ease both;
    -moz-animation: bounceOutDown 0.8s ease both;
}

@-webkit-keyframes bounceOutDown {
    0% {
        -webkit-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateY(-50px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(200%)
    }
}

@-moz-keyframes bounceOutDown {
    0% {
        -moz-transform: translateY(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateY(-50px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateY(200%)
    }
}

.bounceInLeft {
    -webkit-animation: bounceInLeft 0.8s ease both;
    -moz-animation: bounceInLeft 0.8s ease both;
}

@-webkit-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-200%)
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(50px)
    }
    80% {
        -webkit-transform: translateX(-10px)
    }
    100% {
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes bounceInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-200%)
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(50px)
    }
    80% {
        -moz-transform: translateX(-10px)
    }
    100% {
        -moz-transform: translateX(0)
    }
}

.bounceOutRight {
    -webkit-animation: bounceOutRight 0.8s ease both;
    -moz-animation: bounceOutRight 0.8s ease both;
}

@-webkit-keyframes bounceOutRight {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -webkit-transform: translateX(-50px)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(200%)
    }
}

@-moz-keyframes bounceOutRight {
    0% {
        -moz-transform: translateX(0)
    }
    20% {
        opacity: 1;
        -moz-transform: translateX(-50px)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(200%)
    }
}

@keyframes sacleIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sacleOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}